<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Porfolio</title>
</head>

<body>
    <!-- header -->
    <%- include("./partials/header")  %> 
    <!-- fin del header -->
    
    <main class="home">
        <section class="card-cv">
            <div>
                <div class="img-cv">
                    <img class="img" src="/img/df4f51b7-9f8f-45cc-ba56-8873cf26708b.jpg" alt="">
                    <a class="link-vitae" href="https://drive.google.com/file/d/1THx9OgU1N--6pR2wVf_cHFNwfmU52mi_/view?usp=sharing">Curriculum</a>
                </div>
                <div class="section-cv">
                    <h3 class="name-cv">Tomás López Turconi</h3>
                    <p class="descript-cv">Estoy muy interesado en la tecnología y en su implementación. Mi interés es la Inteligencia Artificial y la automatización, y también me gusta e interesa el desarrollo web. Soy una persona adaptativa, con buena capacidad de aprender y buena predisposición a trabajar en equipo, también soy una persona empática, meticulosa y de comunicación efectiva.</p>
                </div>
            </div>
        </section>
        <section>

        </section>
    </main>
    <footer>

        <a href="https://www.linkedin.com/in/tomas-lopez-tur/">
            <img class="footer-icon" src="/img/red/clipart62202.png" alt="" >
        </a>
        <a href="https://github.com/TomasLopezTur">
            <img class="footer-icon gitH"  src="/img/red/clipart1652795.png" alt="">
        </a>
        <a href="https://www.instagram.com/tomas.lopeztur/">
            <img class="footer-icon insta"  src="/img/red/clipart1851591.png" alt="">
        </a>
    
    </footer>
</body>

</html>